<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Chris Galardi</title>
	<meta name="description" content="All sorts of information about him.">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="<%= buildPath %><%= cssFileName %>">
</head>

<body>
	<!--[if lt IE 7]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->

	<div id="tlc" class ="container-fluid">
		<div class="row">
			<div id="meta">
				<h1>Christopher Galardi</h1>
				<address>
					506 East 13th Street, <abbr title="Apartment">Apt</abbr> #9<br>
					New York, New York 10009<br>
				</address>
				<address>
					<abbr title="Cell Phone">P:</abbr> (203)807-3772<br>
					<abbr title="Personal E-Mail">E:</abbr>
					<a href="mailto:#">christophergalardi@gmail.com</a>
				</address>
			</div>
		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="<%= buildPath %>transition.js"></script>
	<script src="<%= buildPath %>d3.js"></script>
	<script src="<%= buildPath %>lodash.js"></script>
	<% scripts.forEach( function ( file ) { %>
	<script src="<%= file %>"></script>
	<% }); %>


</body>

</html>